.docs
.github
.jshintrc
.travis.yml
appveyor.yml
AUTHORS.md
changelog.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
examples/
Gruntfile.js
PUBLISHING.md
test/
UPGRADE_GUIDE.md
changelog.md
.DS_Store

# MIRRORED FROM .gitignore PLEASE MAINTAIN
.idea/
.run/
build/
node_modules
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log